<div class="container-fluid" style="background: #2a2828">

  <div style="display: flex; justify-content: center">
    <h1 style="color: white">Mes Certifications</h1>
  </div>


  <section class="articles">

    <article>
      <div class="article-wrapper">
        <figure style="display: flex; justify-content: center; margin-top: 1pc">
            <img src="./assets/images/csa_sn.svg" alt="servicenow" style="width: 150px; height: auto"/>
        </figure>
        <div class="article-body">
          <h2>ServiceNow - CSA</h2>
        </div>
      </div>
    </article>

    <article>
      <div class="article-wrapper">
        <figure style="display: flex; justify-content: center; margin-top: 1pc">
            <img src="./assets/images/AZ900.png" alt="az900" style="width: 180px; height: 180px; margin-top: 1pc">
        </figure>
        <div class="article-body">
          <h2>Microsoft Azure - AZ900</h2>
          <p>
          </p>
        </div>
      </div>
    </article>

    <article>
      <div class="article-wrapper">
        <figure style="display: flex; justify-content: center; margin-top: 1pc">
          <img src="./assets/images/terraform.png" alt="terraform" style="width: auto; height: 180px; margin-top: 1pc" />
        </figure>
        <div class="article-body">
          <h2>Hashicorp Terraform </h2>
          <p>
          </p>
        </div>
      </div>
    </article>

  </section>
</div>
