<div class="container">

  <div class="photo">
    <img src="assets/images/sylvain.jpg" class="photo-profil">
  </div>


  <div class="body">
    <div class="wrapper">
      <div class="static-text" style="margin-top: 1pc">I'm</div>
      <ul class="dynamic-txts">
        <li style="margin-top: 5px; color: indianred; margin-bottom: 38px"><span>Software Developer</span></li>
        <li style="margin-top: 30px; color: #0c910c"><span>ServiceNow</span> <span style="color: black"> Developer</span></li>
        <li style="margin-top: 2.60pc; color: cornflowerblue"><span>Consultant Cloud Azure</span></li>
      </ul>
    </div>
    <app-links></app-links>
  </div>
</div>

<div>
  <hr style="height: 1pc; width: 10pc; background-color: black">
</div>

