<div style="display: flex; justify-content: center">
  <h1> Expériences professionnelles </h1>
</div>

<div>
  <mat-card>
    <mat-card-title style="margin-top: 1.5pc"><img src="assets/images/fujitsu.png" style="height: 100px; width: 160px"></mat-card-title>
    <mat-card-subtitle style="color: #0c910c">ServiceNow Developer</mat-card-subtitle>
    <mat-card-content></mat-card-content>
    <mat-card-subtitle style="color: cornflowerblue">Consultant Cloud Azure</mat-card-subtitle>
    <mat-card-content></mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title><img src="assets/images/bnp_paribas.webp" style="height: 110px; width: 160px"></mat-card-title>
    <mat-card-subtitle style="color: black">Software Developer</mat-card-subtitle>
    <mat-card-content></mat-card-content>
  </mat-card>
</div>



<div>
  <hr style="height: 1pc; width: 10pc; background-color: black">
</div>

